<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Redirecting to {{title}}</title>

    <script>

        setTimeout(function () {

            window.location.replace("{{href}}");

        }, 5000);

    </script>
</head>

<body>

    {{{body}}}

</body>

</html>